.vscode
go/files/gitlab_rsa
go/go.sum
go/agent/go.sum

go/agent/platforms/docker/docker

go/agent/platforms/android/.gradle/
go/agent/platforms/android/.idea/*.xml
go/agent/platforms/android/.idea/caches/
go/agent/platforms/android/.idea/modules/
go/agent/platforms/android/.idea/dictionaries/
go/agent/platforms/android/.idea/libraries/
go/agent/platforms/android/captures/
go/agent/platforms/android/local.properties
go/agent/platforms/android/.DS_Store
go/agent/platforms/android/.cxx/
go/agent/platforms/android/Thumbs.db
go/agent/platforms/android/build/
go/agent/platforms/android/app/build/
go/agent/platforms/android/*.apk
go/agent/platforms/android/*.class
go/agent/platforms/android/*.dex
go/agent/platforms/android/*.iml
go/agent/platforms/android/*.jks
go/agent/platforms/android/keystore.properties
go/agent/platforms/android/gradlew.bat

go/connector/connector
go/connector/go.sum
go/conntrack/go.sum
go/common/go.sum
go/test/integ/integ
go/test/integ/go.sum
js/node_modules
js/npm-debug.log

